# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/mu-plugins/*/
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep

# WordPress
web/wp
web/.htaccess

# Dotenv
.env.*
!.env.example

# Composer
vendor/*
!vendor/.gitkeep

# Other
/nbproject/private/
/test/coverage/
/test/log/
/build/
/.idea/workspace.xml
/.vagrant/
